@model IDictionary<CatsAndOwners.Models.Gender, List<string>>
@{
    ViewBag.Title = "Owners and their Cats";
}

<h1>Owners and their Cats</h1>

<ul>
    @foreach (var owner in Model)
    {
        <li>
            <strong>@owner.Key</strong>
            <ul>
                @foreach (var catName in owner.Value)
                {
                    <li>@catName</li>
                }
            </ul>
        </li>
    }
</ul>